---
layout: page
title: "Research Area"
black_menu: true
header_style: "one"
header_image: "/assets/images/art/bg/skku/skku2-2.jpg"
custom_font: font4
quickmenu: true
---

{% if page.quickmenu %}
<div class="d-none d-xl-block">
  <div class="quickmenu" style="width: 14rem">
    <div id="skip-bar" class="list-group">
      {% for research in site.data.research.research_area %}
      <a
        class="list-group-item list-group-item-action"
        href="#{{research.title}}"
        style="
          overflow: hidden;
          word-break: break-word;
          text-overflow: ellipsis;
          display: inline-block;
          white-space: nowrap;
        "
      >
        {{forloop.index}}. {{research.title}}
      </a>
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}
<div>
  {% assign wrapper_switch = true %} {% for research in
  site.data.research.research_area %}
  <section id="{{research.title}}">
    <div
      class="wrapper {% if wrapper_switch %}light-wrapper{% else %}wrapper bg-opacity-default{% endif %}"
    >
      <div class="container inner">
        <div class="row">
          <div class="col-12">
            <div class="row">
              <div class="col">
                <h1 class="display-2" data-aos="fade-up" data-aos-delay="50">
                  {{research.title}}
                </h1>
              </div>
            </div>
            <div class="space60"></div>
            <div class="row" data-aos="fade-up" data-aos-delay="100">
              <div class="col-md-2 col-sm-12">
                <h1 class="display-3 color-purple">Overview</h1>
              </div>
              <div class="d-none d-md-block ml-30"></div>
              <div
                class="{% if page.quickmenu %}col-md-8{% else %}col-md-10{% endif %} col-sm-12 mt-2 color-dark"
                style="font-size: 1rem; line-height: 1.8rem"
              >
                {% for paragraph in research.overview %}
                <p>{{paragraph.p}}</p>
                {% endfor %}
              </div>
            </div>
            {% if research.main_images %}
            <div class="space80"></div>
            <div class="space20"></div>
            <div class="row" data-aos="fade-up" data-aos-delay="100">
              {% for image in research.main_images %} {% if forloop.length == 1
              %}
              <div class="col-md-12 col-lg-12">
                <figure class="rounded text-center cover shadow">
                  <img src="{{image.img}}" alt="" />
                </figure>
              </div>
              {% elsif forloop.length == 2 %}
              <div class="col-md-12 col-lg-6">
                <figure class="rounded text-center cover shadow">
                  <img src="{{image.img}}" alt="" />
                </figure>
              </div>
              {% else %}
              <div class="col-md-4">
                <figure class="rounded text-center cover shadow">
                  <img src="{{image.img}}" alt="" />
                </figure>
              </div>
              {% endif %} {% endfor %}
            </div>
            {% endif %} {% if research.challenge %}
            <div class="space80"></div>
            <div class="space20"></div>
            <div class="row" data-aos="fade-up" data-aos-delay="100">
              <div class="col-md-2 col-sm-12">
                <h1 class="display-3 color-purple">Challenge</h1>
              </div>
              <div class="d-none d-md-block ml-30"></div>
              <div
                class="{% if page.quickmenu %}col-md-8{% else %}col-md-10{% endif %} col-sm-12 mt-2 color-dark"
                style="font-size: 1rem; line-height: 1.8rem"
              >
                {% for paragraph in research.challenge %}
                <p>{{paragraph.p}}</p>
                {% endfor %}
              </div>
            </div>
            {% endif %} {% if research.sub_images %}
            <div class="space80"></div>
            <div class="space20"></div>
            <div class="row" data-aos="fade-up" data-aos-delay="100">
              {% for image in research.sub_images %} {% if forloop.length == 1
              %}
              <div class="col-md-12 col-lg-12">
                <figure class="rounded text-center cover shadow">
                  <img src="{{image.img}}" alt="" />
                </figure>
              </div>
              {% elsif forloop.length == 2 %}
              <div class="col-md-12 col-lg-6">
                <figure class="rounded text-center shadow cover">
                  <img src="{{image.img}}" alt="" />
                </figure>
              </div>
              {% else %}
              <div class="col-md-4">
                <figure class="rounded text-center shadow cover">
                  <img src="{{image.img}}" alt="" />
                </figure>
              </div>
              {% endif %} {% endfor %}
            </div>
            {% endif %} {% if research.process %}
            <div class="space80"></div>
            <div class="space20"></div>
            <div class="row" data-aos="fade-up" data-aos-delay="100">
              <div class="col-md-2 col-sm-12">
                <h1 class="display-3 color-purple">Process</h1>
              </div>
              <div class="d-none d-md-block ml-30"></div>
              <div
                class="{% if page.quickmenu %}col-md-8{% else %}col-md-10{% endif %} col-sm-12 mt-2 color-dark"
                style="font-size: 1rem; line-height: 1.8rem"
              >
                {% for paragraph in research.process %}
                <p>{{paragraph.p}}</p>
                {% endfor %}
              </div>
            </div>
            {% endif %} {% if research.videos %}
            <div class="row" data-aos="fade-up" data-aos-delay="100">
              <div class="space80"></div>
              <div class="space20"></div>
              {% for video in research.videos %}
              <div class="col-md-12 col-lg-12">
                <div class="shadow" style="width: 100%; padding-bottom: 56.25%">
                  <iframe
                    style="width: 100%; height: 100%; position: absolute"
                    src="https://www.youtube.com/embed/{{video.link}}"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen
                  ></iframe>
                </div>
              </div>
              <div class="space40"></div>
              {% endfor %}
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    {% if wrapper_switch == true %} {% assign wrapper_switch = false %} {% else
    %} {% assign wrapper_switch = true %} {% endif %}
  </section>
  {% endfor %}
</div>
